* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 1440px;
    height: auto;
    background: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    color: #000000;
}

h1 {
    font-weight: 600;
    font-size: 64px;
}


 /* TESTING NAVBAR */


 .site-header {
    position: relative;
  }
  
  .site-header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .wrapper {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  .nav-item a {
    display: block;
    padding: 1.5rem 1rem;
  }
  .nav_wrapper {
    display: flex;
  }
  
  /* This moves donate btn to the center of nav  */
  
  .site-header_end {
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
  }
  
  .donate {
    display: flex;
  }



/* Navigation-Old */

/* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    width: 100%;
    padding-top: 56px;
    color:  #000000;
    cursor: pointer;
    margin-left: auto;
} */


/* div.logo {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: auto; */
/* } */ 

/* .logo.navbar {
    /* display: flex; */
    /* justify-content: flex-start; */
/* } */ 
/* 
li.header-nav-item {
    display: flex;
    justify-content: flex-end;
} */




/****** stuck here on moving the main menu items button ******/
/* .container {
    display: flex;
    justify-content: center;
}


.container li a {
    text-decoration: none;
    color: #000000;
} */
  
    
 /* Howard Beach Clean-up Picture */

 .howard-beach-img {
    background-size: cover;
    object-fit: cover;
     width: 1440px;
     height: auto;
  }

  div.howard-beach-img {
      clear: both;

  }

  
/* Achievements Section */

  div.full-width {
      color: white;
      font-size: 0.75rem;
      background-color: #00A862;
      padding-left: 15px;
  }

  h1.full-width {
      font-size: 4.0625rem;

  }

 .full-width li {
    padding-left: 55px;
}


.full-width li {
    position: relative;
    list-style-type: circle;
    margin-left: 50px;
    padding-left: 0;
   
}

/* Graph */

div.graph {
    display: flex;
    align-items: center;
   object-fit: cover;
   padding: 20px 20px;
  
}

/* Let's Make a Change Section */

.change {
    padding-left: 20px;  
}



div.card {
   display: inline-block; 
    width: 240px;
    padding-left: 100px;
    
}

.card img {
    width: 240px;
    object-fit: cover;
    padding-right: 15px;
    
  
}

.card h3 {
    width: 240px;
    padding: 15px 0;
}

.card p {
    width: 240px;
    padding-bottom: 15px;
    padding-right: 15px;
}


div.change-btn a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

div.change-btn img {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}


/* Media */






 
